body
    {
        color: whitesmoke;
        background-color: rgba(0, 0, 0, 0.94);
    }
main 
    {
        display: flex;
        justify-content: space-around;
    }
.leftSection, .rightSection 
    {
        /* width: 50% */
    }
h1 
    {
        text-align: center;
    }
input
    {
        display: block;
        margin-bottom: 40px;
        width: 200px;
    }
#yearToDelete 
    {
        margin-bottom: 20px;
    }
button
    {
        background-color: brown;
        color: antiquewhite;
        padding: 5px 10px;
    }
#submitNew 
    {
        background-color: green;
        color: antiquewhite;
    }
#update 
    {
        background-color: rgb(16, 16, 180);
        color: antiquewhite;
    }

@media screen and (max-width: 600px) {
main 
    {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}